@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
body {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
}

::selection {
    color: #fff;
    background: #2c98f0;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ddd;
}

.fa-sp {
    margin-right: 5px;
    min-width: 40px;
    text-align: center;
}

.header-area { 
	position: relative;
    width: 100%;
    z-index: 100;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.header-area .top-header {
	height: 65px;
}

.header-area .top-header .top-social-area a {
	display: inline-block;
    padding: 5px 15px;
    color: rgb(125, 82, 67);
    font-size: 16px;
}

.hero-slide-item {
	height: 100vh;
    display: table;
    width: 100%;
    overflow: hidden;
}

.set-bg {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.hero-slide-item .hs-text{
	-webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

.hs-text {
	vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.hs-title-1, .hs-title-2, .hs-title-3 {
	font-weight: 700;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.hs-title-1 {
	font-size: 72px;
    z-index: 3;
}

.hs-title-2 {
	font-size: 48px;
    z-index: 4;
}

.hs-title-3 {
	font-size: 36px;
    z-index: 5;
}

.hs-title-1 span, .hs-title-2 span, .hs-title-3 span {
	display: inline-block;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: -1px -5px 20px 0px rgb(0 0 0 / 30%);
    box-shadow: -1px -5px 20px 0px rgb(0 0 0 / 30%);
    opacity: 1;
}

.hs-title-1 span {
	padding: 0 28px;
    background: #ff2a6b;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.4s ease 0.6s;
    -o-transition: all 0.4s ease 0.6s;
    transition: all 0.4s ease 0.6s;
}

.hs-title-2 span {
	padding: 5px 28px;
    background: #fdc856;
    -webkit-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
    left: 120px;
    top: -15px;
    -webkit-transition: all 0.4s ease 0.8s;
    -o-transition: all 0.4s ease 0.8s;
    transition: all 0.4s ease 0.8s;
}

.hs-title-3 span {
	padding: 10px 28px;
    background: #bdde64;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    top: -15px;
    -webkit-transition: all 0.4s ease 1s;
    -o-transition: all 0.4s ease 1s;
    transition: all 0.4s ease 1s;
}

/** ABOUT **/
.aside {
    padding-top: 3em;
    padding-bottom: 40px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    width: 30%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1001;
    background: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    height: calc(100vh);
    border-right: 15px solid #f0f0f0;
}

#avatar {
    text-align: right;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

#avatar a {
    display: inline-block;
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
    padding-right: .3em;
    border-radius: 100%;
    width: 6.5em;
    height: 6.5em;
}

#avatar a img {
    width: 100%;
    border-radius: 100%;
}

#avatar a span {
    display: block;
    text-align: center;
    line-height: 6em;
}

#about-aside #profile {
    font-size: 22px;
    margin-bottom: 3em;
    line-height: 1.5em;
    text-align: right;
}

#about-main-menu { margin-bottom: 3em; }

#about-main-menu ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

#about-main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#about-main-menu ul li a {
    color: rgba(0,0,0,.4);
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Quicksand",Arial,sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#about-main-menu ul li.active a, #about-main-menu ul li a:hover { color: #000; }

#about-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    -moz-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    -ms-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    -o-transition: all .3s cubic-bezier(.175,.885,.32,1.275);
    transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}

#about-main-menu ul li.active a:after, #about-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.about-footer {
    position: absolute;
    bottom: 40px;
    right: 1.5em;
    left: 1.5em;
    font-size: 15px;
    text-align: right;
    font-weight: 400;
    color: rgba(0,0,0,.6);
    padding: 0 20px;
}

.about-footer ul li {
    padding: 0;
    margin: 15px;
    display: inline;
    list-style: none;
}

.about-footer ul li a { font-size: 28px; }

#about-main {
    width: 70%;
    float: right;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 1em 0em;
    background: #fff;
}

.about-img { width: 75%; height: 550px; }
.about-img, .about-img-2 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.about-img .about-img-2 {
    width: 100%!important;
    height: 390px;
    position: absolute;
    top: 80px;
    right: -100px;
    width: 80%;
    -webkit-box-shadow: 0 35px 78px -23px rgb(0 0 0 / 33%);
    -moz-box-shadow: 0 35px 78px -23px rgba(0,0,0,.33);
    box-shadow: 0 35px 78px -23px rgb(0 0 0 / 33%);
}

#about-main section .major h2 { font-size: 24px; font-weight: 400; margin: 0 0 1em 0; }
#about-main section h4 {
    color: #787878;
    font-size: 18px;
    line-height: 1.5em;
}

#about-main section p { color: #a2a2a2; }

#about-main section ul {
    font-size: 16px;
    line-height: 30px;
}

.progress-wrap h3 {
    font-size: 16px;
    font-family: "Quicksand",Arial,sans-serif;
    margin-bottom: 10px;
}

.progress {
    height: 6px;
    background: #f2f3f7;
    overflow: visible;
    margin-bottom: 20px;
}

.progress-bar {
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.progress-bar span {
    position: absolute;
    top: 10px;
    right: -10px;
}

.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.progress-bar.color-1 { background: #2c98f0; }
.progress-bar.color-1 span { color: #2c98f0; }
.progress-bar.color-1:after { background: #2c98f0; }

.progress-bar.color-2 { background: #ec5453; }
.progress-bar.color-2 span { color: #ec5453; }
.progress-bar.color-2:after { background: #ec5453; }

.progress-bar.color-3 { background: #f9bf3f; }
.progress-bar.color-3 span { color: #f9bf3f; }
.progress-bar.color-3:after { background: #f9bf3f; }

.progress-bar.color-4 { background: #a84cb8; }
.progress-bar.color-4 span { color: #a84cb8; }
.progress-bar.color-4:after { background: #a84cb8; }

.progress-bar.color-5 { background: #2fa499; }
.progress-bar.color-5 span { color: #2fa499; }
.progress-bar.color-5:after { background: #2fa499; }

.progress-bar.color-6 { background: #4054b2; }
.progress-bar.color-6 span { color: #4054b2; }
.progress-bar.color-6:after { background: #4054b2; }

.progress-bar.color-7 { background: #3ee4c4; }
.progress-bar.color-7 span { color: #3ee4c4; }
.progress-bar.color-7:after { background: #3ee4c4; }

.progress-bar.color-8 { background: #323232; }
.progress-bar.color-8 span { color: #323232; }
.progress-bar.color-8:after { background: #323232; }

.business-card {
	background-image: url('/resources/image/background/card-background.jpg');
	background-color: #040e27;
	padding: 1em;
	border-radius: 4px;
	color: #fff;
	-webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
	box-shadow: 0 6px 12px rgb(0 0 0 / 50%);
	max-width: 330px;
	position: relative;
	top: 0;
	transition: all 0.2s ease-out;
}

.business-card .row { display: flex; }
.business-card .qr-code { flex: 1; margin: 0 15px 0 0; display: flex; border-right: 1px solid #fff; }
.business-card .qr-code img { margin: 0 auto; align-self: center; }
.business-card .information { flex: 2; display: flex; }
.business-card .information .labeled-icons { align-self: center; }
.business-card .information .labeled-icons a { color: #fff; font-family: 'Baloo Chettan 2', cursive; }

.business-card:hover {
	transition: all 0.2s ease-out;
    top: -6px;
}

@media screen and (max-width: 768px){
    #about-aside {
        position: relative;
	    width: 100%;
	    display: block;
	    border: 0;
	    height: auto;
	    background-image: url(https://chiplat.tw/assets/css/images/overlay.png), url(https://chiplat.tw/images/bg.jpg);
	    padding: 2.25em 1.5em;
    }

    #about-aside #avatar {
    	text-align: center;
    	margin-bottom: 1em;
    }

    #about-aside #profile {
    	text-align: center;
    	color: #fff;
    }

    .about-footer { 
	    text-align: center;
	    margin: 0 auto;
	    left: 0;
	    right: 0;
	}

	.about-footer ul li a {
		color: #fff;
	}

    #about-main { width: 100%; }
    #about-main section .major h2 { font-size: 20px; }
    #about-main section h4 { font-size: 16px; }

    .business-card { margin: 0 auto; }
}